<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
{{>header}}
<body>

{{>navbar}}
    <h1>Add Product</h1>

    <form method="POST" action="/dashboard/add-product">
        <input type="text" placeholder="Product Name" name="productName" required />
        <textarea placeholder="Product Description" name="productDescription" rows="6" cols="50" required></textarea>
        <input type="text" placeholder="Price" name="productPrice" required />
        <input type="text" placeholder="Sale Price (optional)" name="salePrice" />
        <input type="file" name="productImage" accept="image/*" />
        <input type="text" name="productCategory" placeholder="Category" required />
        <input type="text" name="productColor" placeholder="Color" />
        <input type="text" name="productSize" placeholder="Size" />
        <button>Add Product</button>
    </form>
{{>footer}}
</body>
</html>
