<!DOCTYPE html>
<html lang="en">
<html>

{{>header}}

<body>

    {{>navbar}}
    <h1>Add Product</h1>

    <form method="POST" action="/dashboard/add-product">
        <input type="text" placeholder="Product Name" name="productName" required />
        <div>
            <textarea placeholder="Product Description" name="productDescription" rows="6" cols="50"
                required></textarea>
        </div>
        <div>
            <label for="price">$</label>
            <input type="text" id="price" placeholder="Price" name="productPrice" required />
            <label for="price">$</label>
            <input type="text" id="price" placeholder="Sale Price (optional)" name="salePrice" />
        </div>
        <input type="text" name="productColor" placeholder="Color" />
        <input type="text" name="productSize" placeholder="Size" />
        <input type="text" name="productCategory" placeholder="Category" required />
        <div>
            <input type="file" name="productImage" accept="image/*" />
        </div>
        <div>
            <button>Add Product</button>
        </div>
    </form>
    {{>footer}}
</body>

</html>
