<!DOCTYPE html>
<html lang="en">
<html>

{{>header}}

<body>
    <h1>Add Store</h1>
    <form method="POST" action="/dashboard/add-store">
        <input type="text" placeholder="Store Name" name="storeName" />
        <input type="type" placeholder="Store Description" name="storeDescription" />
        <input type="file" name="storeImage" accept="image/*" />
        <button>Submit</button>
    </form>
    {{>footer}}
</body>
</html>
