<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Store</title>

</head>

<body>
    <h1>Add Store</h1>
    <form method="POST" action="/dashboard/add-store">
        <input type="text" placeholder="Store Name" name="storeName" />
        <input type="type" placeholder="Store Description" name="storeDescription" />
        <input type="file" name="storeImage" accept="image/*" />
        <button>Submit</button>
    </form>
</body>

</html>