<!DOCTYPE html>
<html lang="en">
<html>

{{>header}}

<body>

    {{>navbar}}
    <h1>Add Store</h1>
    <form method="POST" action="/dashboard/add-store" enctype="multipart/form-data">
        <input type="text" placeholder="Store Name" name="storeName" required />
        <div>
            <textarea name="storeDescription" placeholder="Store Description" rows="6" cols="50" required></textarea>
        </div>
        <input type="file" name="storeImage" accept="image/*" required />
        <div>
            <button>Submit</button>
        </div>
    </form>
    {{>footer}}
</body>

</html>
