<!DOCTYPE html>
<html lang="en">

{{>header}}

<body class="main-bg bg-body text-body font-body">

{{>navbar}}

<section class="relative py-20 bg-gray-100 overflow-x-hidden">
    {{>swirls}}
    <h2>customer chat</h2>

</section>


{{>footer}}

</body>
</html>