<!DOCTYPE html>
<html lang="en">
<html>

{{>header}}

<body>
    {{>navbar}}

    <h1>Update Password</h1>
    <form method="POST" action="/dashboard/update-password">
        <input type="text" placeholder="Enter your email address" name="email"
            pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"
            required />
        <input type="password" placeholder="Enter your current password" name="oldPassword" required />
        <input type="password" placeholder="Enter your new password" name="newPassword"
            title="Password must contain at least 8 characters including at least 1 number"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required />
        <input type="password" placeholder="Re-enter your new password" name="newPasswordConfirmed"
            title="Password must contain at least 8 characters including at least 1 number"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required />
        <button>Submit</button>
    </form>
    <h3>{{errorMessage}}</h3>
    {{>footer}}
</body>

</html>
