<!DOCTYPE html>
<html lang="en">

{{>header}}

<body class="main-bg bg-body text-body font-body">

    {{>navbar}}

    <section class="relative py-20 bg-blue-800 lg:pt-32 overflow-x-hidden">
        <!-- BACKGROUND SWIRLS -->
        <img class="hidden md:block absolute top-0 left-0" src="assets/elements/white-line.svg" alt="">
        <img class="absolute top-50 left-0 mt-64" src="assets/elements/orange-line.svg" alt="">
        <img class="absolute bottom-0 right-0 w-72" src="assets/elements/violet-line.svg" alt="">

        <div class="container mx-auto px-4">
            <!-- CATEGORY HEADING -->
            <div class="w-full lg:w-auto px-4 pb-10 mb-12 xl:mb-0">
                <h2 class="text-5xl font-bold font-heading login-error">
                    <span class="justify-center">Select a category</span>
                </h2>
            </div>

            <div class="flex flex-wrap -mx-4 items-center justify-left">
                {{#categories}}
                    <!-- CATEGORY -->
                    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-3 mb-8">
                        <form method="post" action="/category">
                            <input type="hidden" value="{{name}}" name="category"/>
                            <div class="p-6 nav-bg">
                                    <input type="image" class="mb-5 mx-auto h-56 w-full object-contain"
                                         src="assets/images/waterbottle.png" alt="">
                                    <h3 class="mb-2 text-xl font-bold login-error font-heading">{{name}}</h3>
                                    <p class="text-lg font-bold font-heading text-blue-500">
                                    </p>
                            </div>
                        </form>
                    </div>
                {{/categories}}
            </div>
        </div>
    </section>

{{>footer}}
</body>
</html>