<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <form method="GET" action="/dashboard/add-store">
        <button>Add Store</button>
    </form>
    <form method="GET" action="/dashboard/edit-store">
        <button>Edit Store</button>
    </form>
    <form method="GET" action="/dashboard/add-product">
        <button>Add Product</button>
    </form>
    <form method="GET" action="/dashboard/view-all-products">
        <button>View Your Products</button>
    </form>
    <form method="GET" action="/dashboard/view-reviews">
        <button>View Your Reviews</button>
    </form>
    <form method="GET" action="/dashboard/update-password">
        <button>Update Password</button>
    </form>
    <form method="GET" action="/dashboard/sign-out">
        <button>Sign Out</button>
    </form>
    <form method="POST" action="/dashboard/delete-account">
        <button>Delete Account</button>
    </form>
</body>

</html>