<!DOCTYPE html>
<html lang="en">

{{>header}}

<!-- TODO: center google button on mobile -->
<!-- TODO: return user to the page they were on when they signed in -->

<body class="antialiased bg-body text-body font-body main-bg">
<div class="">
    <section class="py-1 bg-blue-800 overflow-x-hidden">
        <div class="relative container px-4 mx-auto">
            <div class="relative max-w-4xl mx-auto">
                <!-- BRACKET GRAPHICS  -->
                <div class="absolute inset-0 border border-gray-300 my-24 -ml-4 -mr-4"></div>
                <div class="relative mx-auto py-28 px-4 bg-blue-800 border border-white text-center">
                    <!-- LOGO -->
                    <a class="inline-block mb-12 text-3xl font-bold font-heading text-white" href="/">
                        <img class="h-9" src="assets/logos/yofte-logo-white.svg" alt="" width="auto"></a>
                    <!-- SIGN IN/UP TEXT -->
                    <h2 class="mb-14 text-4xl text-white font-bold font-heading">Sign in/up with</h2>
                    <div class="relative max-w-xl mx-auto">
                        <!-- HALF CIRCLE GRAPHICS -->
                        <img class="hidden md:block absolute top-0 -right-1/2 -mr-16"
                             src="assets/elements/white-sign-line.svg" alt=""><img
                            class="hidden md:block absolute bottom-0 -left-1/2 -ml-24"
                            src="assets/elements/orange-sign-line.svg" alt=""><img
                            class="hidden md:block absolute bottom-0 -right-1/2 -mb-12 -mr-40"
                            src="assets/elements/purple-sign-line.svg" alt="">
                        <div class="flex flex-wrap -mx-2 mb-10 pb-16 border-b border-gray-500 justify-center">
                            <!-- GOOGLE LOGIN -->
                            <div class="w-full md:w-1/2 px-2 pl-10 mb-2 md:mb-0">
                                <div id="g_id_onload"
                                     data-client_id={{client_id}}
                                     data-context="signin"
                                     data-ux_mode="popup"
                                     data-login_uri="http://localhost:3000/loggingIn"
                                     data-auto_select="true">
                                </div>
                                <div class="g_id_signin"
                                     data-type="standard"
                                     data-shape="pill"
                                     data-theme="outline"
                                     data-text="continue_with"
                                     data-size="large"
                                     data-logo_alignment="left">
                                </div>
                            </div>
                        </div>
                        <div class="max-w-md mx-auto">
                            <!-- LOGIN/REGISTER BUTTONS -->
                            <div class="button-box flex item-center">
                                <div id="btn"></div>
                                <button type="button" class="toggle-btn text-white font-bold font-heading"
                                        onclick="login()">Login
                                </button>
                                <button type="button" class="toggle-btn text-white font-bold font-heading"
                                        onclick="register()">Register
                                </button>
                            </div>
                            <!-- LOGIN/REGISTER FROM -->
                            <form id="login" method="post" action="/login">
                                <!-- EMAIL TEXT BOX -->
                                <input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 cart nav-bg nav-border-bg focus:border-blue-300 rounded-md"
                                       type="text" placeholder="jason@example.dev" name="email" required>
                                <!-- PASSWORD TEXT BOX -->
                                <input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 cart nav-bg nav-border-bg focus:border-blue-300 rounded-md"
                                       type="password" placeholder="Password" name="password" required><label
                                    class="flex" for="">
                            </label>
                                <!-- SHOW LOGIN ERROR -->
                                <div>
                                    {{#loginError}}
                                        <label>{{loginError}}</label>
                                    {{/loginError}}
                                </div>
                                <!-- SUBMIT BUTTOn -->
                                <button class="mt-12 md:mt-16 bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-5 px-8 rounded-md uppercase">
                                    Submit
                                </button>
                            </form>
                        </div>
                        <div class="max-w-md mx-auto">
                            <!-- LOGIN/REGISTER FROM -->
                            <form id="register" method="post" action="/register">
                                <!-- EMAIL TEXT BOX -->
                                <input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 cart nav-bg nav-border-bg focus:border-blue-300 rounded-md"
                                       type="text" placeholder="jason@example.dev" name="email" required>
                                <!-- PASSWORD TEXT BOX -->
                                <input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 cart nav-bg nav-border-bg focus:border-blue-300 rounded-md"
                                       type="password" placeholder="Password" name="password" required>
                                <!-- REPEAT PASSWORD TEXT BOX -->
                                <input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 cart nav-bg nav-border-bg focus:border-blue-300 rounded-md"
                                       type="password" placeholder="Repeat Password" name="repeatPassword" required>
                                <label class="flex" for=""></label>
                                <!-- SHOW LOGIN ERROR -->
                                <div>
                                    {{#registrationError}}
                                        <label>{{registrationError}}</label>
                                    {{/registrationError}}
                                </div>
                                <!-- SUBMIT BUTTOn -->
                                <button class="mt-12 md:mt-16 bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-5 px-8 rounded-md uppercase">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://accounts.google.com/gsi/client" async defer></script>
{{>footer}}
</body>
</html>