<div class="order-0 w-1/2 md:w-1/3 px-4 mb-4 md:mb-0">
    <div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md">
        <button class="py-2 hover:text-gray-700">
            <svg width="12" height="2" viewbox="0 0 12 2" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.35">
                    <rect x="12" width="2" height="12" transform="rotate(90 12 0)"
                          fill="currentColor"></rect>
                </g>
            </svg>
        </button>
        <input class="w-12 m-0 px-2 py-4 text-center md:text-right border-0 focus:ring-transparent focus:outline-none rounded-md"
               type="number" placeholder="1">
        <button class="py-2 hover:text-gray-700">
            <svg width="12" height="12" viewbox="0 0 12 12" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.35">
                    <rect x="5" width="2" height="12" fill="currentColor"></rect>
                    <rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)"
                          fill="currentColor"></rect>
                </g>
            </svg>
        </button>
    </div>
</div>