<!DOCTYPE html>
<html lang="en">

{{>header}}

<body class="main-bg bg-body text-body font-body">

{{>navbar}}

<section class="relative py-20 lg:pt-32 bg-blue-800 overflow-x-hidden">
    <!-- BACKGROUND SWIRLS -->
    <img class="hidden md:block absolute top-0 left-0" src="assets/elements/white-line.svg" alt="">
    <img class="absolute top-50 left-0 mt-64" src="assets/elements/orange-line.svg" alt="">
    <img class="absolute bottom-0 right-0 w-72" src="assets/elements/violet-line.svg" alt="">

    <div class="relative container mx-auto px-4">
        <!-- STORE HEADING -->
        <div class="w-full lg:w-auto px-4 pb-10 mb-12 xl:mb-0">
            <h2 class="text-5xl font-bold font-heading">
                <span class="login-error">Check out these amazing stores!</span>
            </h2>
        </div>

        <!-- STORE CARD -->
        <div class="flex flex-wrap -mx-4 items-center justify-left">
            {{#stores}}
                <!-- STORE -->
                <div onclick="location.href='/store';" style="cursor: pointer" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-3 mb-8">
                    <form method="post" action="/store">
                        <input type="hidden" value="{{user_id}}" name="userId"/>
                        <div class="p-6 nav-bg">
                            <!-- IMAGE -->
                            <input type="image" class="mb-5 mx-auto h-56 w-full object-contain" src="assets/images/placeholder1.png"
                                   alt="image">
                            <!-- NAME -->
                            <h3 class="mb-2 text-xl login-error font-bold font-heading">{{store_name}}</h3>
                            <!-- DESCRIPTION -->
                            <p class="text-lg font-bold font-heading text-blue-300">{{store_description}}</p>
                        </div>
                    </form>
                </div>
            {{/stores}}
        </div>
    </div>
</section>

{{>footer}}
</body>
</html>